{% extends 'django_admin_rq/job_base.html' %}

{% load i18n admin_urls %}

{% block content_title %}
    {% if title %}
        <h1>{{ title }} &rsaquo;&rsaquo; {% trans 'Preview' %}</h1>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="module aligned">
        {% for field_data in job_data %}
            <div class="form-row">
                <label>{% if field_data.label %}{{ field_data.label }}{% else %}{{ field_data.name|capfirst }}{% endif %}:</label>
                <p>{{ field_data.value }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="preview-content module aligned">
        {% block preview_content %}
            <h2>{% trans 'Preview' %}</h2>
        {% endblock %}
    </div>

    <div class="submit-row">
        <a class="button inline" href="{% url opts|admin_urlname:'job_run' job_name=job_name object_id=original.pk %}">{% trans 'Run job' %}</a>
    </div>
{% endblock %}
